<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">

  <span class="">
    <button mat-icon-button class="" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="" >
    <h2>Portifolio Web</h2>
  </span>
  
</mat-toolbar>
<mat-sidenav-container class="">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list class="">
      <a mat-list-item>Telas</a>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>