<mat-toolbar  color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span class="">
    <button mat-icon-button class="" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="">
    <h2>Portifolio Web</h2>
  </span>
</mat-toolbar>
<mat-sidenav-container class="">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list class="">
      <a mat-list-item  routerLink="/sign-in">Cadastra-se</a>
      <mat-divider></mat-divider>
      <a mat-list-item>Sobre</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>