<mat-toolbar color="primary" class="fixed-header">
  <span>Portifolio</span>
  <span>
    <button mat-raised-button (click)="verAlbuns()">
      <mat-icon>photo_album</mat-icon>Albuns</button>
  </span>
  <span>
    <button mat-raised-button>
      <mat-icon>exit_to_app</mat-icon>Logout</button>
  </span>
</mat-toolbar>
<div class="controle-altura">


<form fxLayout="column controle-altura" fxLayoutAlign="space-between center" [formGroup]="form">
  <mat-form-field class="encaixar entrada-texto">
    <input matInput placeholder="Nome do album" type="tel" formControlName="nome" required>
    <mat-error *ngIf="form.get('nome').hasError('required')">
      Nome do album é
      <strong>exigido</strong>
    </mat-error>
  </mat-form-field>

  <div class="encaixar entrada-texto btlLogo">
    <input type="file" accept="image/*" formControlName="photos" (change)="foto($event)" multiple>
  </div>
  <button mat-raised-button color="primary" (click)="onSalvarPhotos($event)">Salvar fotos</button>
</form>
</div>