body {
    box-sizing: border-box;
}
.cards {
    margin:40px;
    width: 100%;
}
.card-fotos
{
    min-width: 100%;
    margin: 40px;
}
.controler-albuns
{
    width: 100%;
    min-height: 100%;
}
.lista-fotos
{
    width: 100%;
    height: 100%;
}
