body {
    box-sizing: border-box;
}
.cards {
    margin:40px;
    width: 100%;
}
.card-fotos
{
    min-width: 100%;
    margin: 40px;
}
.controler-albuns
{
    width: 100%;
    min-height: 100%;
}
.lista-fotos
{
    width: 100%;
    height: 100%;
}
.not-image {
    background-color: rgba(247, 223, 194, 0.233);
    height: 250px;
    text-align: center;
    color: bisque;
}
.not-image mat-icon {
    padding: 110px 0;
}
